*{

	margin:0;
	padding:0;
	font-family: 'Roboto Slab', serif;


}

html, body{

	height:100%;

}

.container{

	display:flex;
	flex-direction:column;
	margin-top:10%;
	align-items:center;
	width: auto;
	  


}


.display{
	
	width:100%;
	height:600px;



}

.tela{

	width:600px;
	border:30px solid #252423;
	height:200px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	margin:auto;
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    background:#000;



}

.tela-content{
	
	background:#30336b;
	width:100%;
	height:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	opacity:0;
}


.tela-content span{

		font-size:60px;
		color:#b71540;
		letter-spacing: 0.5rem; 

}

.content{

	width:700px;
	height:auto;
	border:30px solid #252423;
	background:#0101;
	margin:auto;
	display:flex;
	flex-wrap:wrap;
	padding-bottom:10px;
	justify-content:flex-end;


}


.input-items{


	display:flex;
	flex-direction:row;
	margin-top:10px;
	margin:auto;
	flex-wrap:wrap;
	align-items:center;

}

.input-items .input-group .btn-big{
	
	width:200px;
	height:88px;
	border-radius:10px;
	color:#FFFF;
	font-size:30px;

}

.input-items .input-group .btn-big:hover{
	
	cursor:pointer;

}

.input-items .input-group-2 .btn-medium{


	width:150px;
	height:88px;
	color:#FFFF;
	font-size:22px;
	border-radius:10px;

}

.btn-medium-numbers{

	width:50px;
	height:50px;
	margin:10px 10px 20px 0px;
	color:#3c40c6;
	background:#FFF;
	font-size:22px;
	display:flex;
	flex-direction:column;
	align-items:center;
	border-radius:5px;
}

.btn-medium-numbers span{

	color:red;
	font-size:8px;

}

.input-group-2 {

	margin:auto;
}

.btn-medium-numbers:hover{

	cursor:pointer;
}



.input-items .input-group-2 .btn-medium:hover{

	cursor:pointer;
}


.input-items .input-group-2 .btn-medium-output{

	width:120px;
	height:50px;
	color:#FFF;
	font-size:30px;
	background:#575fcf; 
	border-radius:5px;
}

.input-items .input-group-2 .btn-medium-output:hover{

	cursor:pointer;
	
}


#btnLimpar{
	
	background:#eb4d4b;

}

#btnDesligar{
	
	background:#eb2f06;

}

#btnLigar{

	background:#05c46b;
}


.desligado{

	 opacity:0;
}

.ligado{

	 opacity:1;
}


.animation{

	animation:shutdown 1s;
}

/*----------------------------------------*/
  @-webkit-keyframes shutdown {
    0%        { opacity: 0; }
    8%, 46%   { transform: scale(1, 1); opacity: 1; }
    50%       { transform: scale(1, 0.02); opacity: 0.8; }
    55%, 100% { transform: scale(0, 0); opacity: 0.3; }
  }


 @-webkit-keyframes neon4 {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff;
  }
}


/*RESPONSIVIDADE ---------------------------- //*/


@media (min-width: 1281px) {
  
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 690px) and (max-width: 1024px) {


.display{
	
	width:100%;
	height:600px;
}

.tela{

	width:530px;
	height:200px;

}

.tela-content span{

	font-size:30px;
	color:#b71540;
	letter-spacing: 0.5rem; 
}

.content{

	width:620px;
	height:auto;
}

.input-items .input-group .btn-big{
	
	width:90px;
	height:88px;
	font-size:15px;
	margin-right:20px;

}

.input-items .input-group-2 .btn-medium{


	width:125px;
	height:88px;
	font-size:22px;
}

.btn-medium-numbers{

	width:50px;
	height:50px;
	font-size:22px;

}




.input-items .input-group-2 .btn-medium-output{

	width:120px;
	height:50px;
	font-size:30px;

	
	}
  
  
}

@media (min-width: 481px) and (max-width: 690px) {


.display{
	
	width:100%;
	height:600px;
}

.tela{

	width:370px;
	height:200px;

}

.tela-content span{

	font-size:30px;
	color:#b71540;
	letter-spacing: 0.5rem; 
}

.content{

	width:450px;
	height:300px;
}

.input-items .input-group .btn-big{
	
	width:90px;
	height:88px;
	font-size:13px;
	margin-right:20px;

}

.input-items .input-group-2 .btn-medium{


	width:100px;
	height:88px;
	font-size:22px;
}

.btn-medium-numbers{

	width:30px;
	height:50px;
	font-size:16px;

}


.input-items .input-group-2 .btn-medium-output{

	width:90px;
	height:50px;
	font-size:30px;

	
	}
  
    
}
@media (min-width: 320px) and (max-width: 480px) {


.display{
	
	width:100%;
	height:600px;
}

.tela{

	width:250px;
	height:200px;

}

.tela-content span{

	font-size:30px;
}

.content{

	width:315px;
	height:300px;
}

.input-items .input-group .btn-big{
	
	width:70px;
	height:88px;
	font-size:13px;

}

.input-items .input-group-2 .btn-medium{


	width:80px;
	height:88px;
	font-size:22px;
	margin-left:20px;
}

.btn-medium-numbers{

	width:18px;
	height:25px;
	font-size:16px;

}


.input-items .input-group-2 .btn-medium-output{

	width:60px;
	height:50px;
	font-size:30px;

	
	}
  
  
}


@media (max-width: 320px){


.display{
	
	width:100%;
	height:600px;
}

.tela{

	width:100%;
	height:200px;

}

.tela-content span{

	font-size:30px;
}

.content{

	width:100%;
	height:auto;
}

.input-items .input-group .btn-big{
	
	width:50px;
	height:60px;
	font-size:13px;

}



.input-items .input-group-2 .btn-medium{


	width:80px;
	height:60px;
	font-size:17px;
	margin-left:20px;
}

.btn-medium-numbers{

	width:100%;
	height:25px;
	font-size:16px;

}


.input-items .input-group-2 .btn-medium-output{

	width:40px;
	height:50px;
	font-size:20px;

	
	}
  
  
  
}