:root {
  --color-grey: #c4baba;
  --color-blue: #1200f4;
  --color-yellow-highlight: #fcff2d;
  --color-black: #222;
  --color-deep-black: rgb(22, 22, 22);
  --color-red-display: rgb(184, 15, 10);
}
